/*GENERAL STYLES*/

body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 100%;
    background: url("/19141230/img/white.png");
    background-repeat: no-repeat;
    margin: 0;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 40, 40);
}

h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
h3, p {
    font-size: 1em;
}

p {
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.736);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    width: 28%;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    color: white;
    background-color: #292b2d;
    border: 1.88px solid rgba(140, 138, 124, 0.748);
    cursor: pointer;
    display: block;
    margin: auto;
}

button:hover {
    background-color: rgb(198, 188, 127);
    color: black;
}

button:active {
    background-color: #292b2d;
}

table, .personal-info, .social-container {
    box-shadow: 0px 0 5px black, 0px 0 10px grey, 0px 0 15px rgb(198, 188, 127);
}

.errors {
    width: 100%;
    text-align: center;
}

.errors p {
    font-size: 1.7em;
    color: red;
    padding: 5px;
}

/* HEADER.PHP */

#logo {
    width: 300px;
    height: 90px;
    margin: auto;
    display: block;
    padding: 30px;
}

#return {
    font-size: 2em;
    color: black;
    background-color:rgb(128, 128, 128);
    box-shadow: 0 5px 20px rgba(32, 32, 32, 0.468);
    margin:93%;
    border-radius: 13px;
    padding: 1px 13px;
}

#return:hover {
    background-color: rgb(198, 188, 127);
    color: black;
}
#return:active {
    filter: invert(1) hue-rotate(170deg);
}

/* NAVIGATION BAR */

.navigation-container nav {
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 8px 10px rgba(45, 42, 42, 0.474);
    background-color: black;
}

.navigation-container li {
    float: left;
}

.navigation-container li a {
    padding: 14px 25px;
    display:block;
    text-align: center;
    color: white;
}

.navigation-container li a:active {
    background-color: rgb(198, 188, 127);
    color: black;
    border-radius: 3px;
}

.navigation-container li:hover {
    box-shadow: 3px 0px white;
} 

.navigation-container a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GENERAL FORM CONTAINERS */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto;
    padding: 0;
    box-sizing: border-box;
}

.form-container button {
    width: 35%;
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.792);
}

/* LOGIN & REGISTER FORM */

.login-container {
    background-color:black;
    height: 400px;
    min-width: 23em;
    max-width: 23em;
}

.login-container, .register-container {
    margin-top: 8px;
}

.register-container, .login-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1.88px solid grey;
    border-radius: 5px;
}

.register-container h1, .login-container h1 {
    color: white;
    text-align: center;
}

.register-container label, .login-container label {
    color: white;
    text-align:left;
}

.register-container {
    background: black;
    height: 650px;
    min-width: 24em;
    max-width: 30em;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
    width: 100%;
    padding: 9px;
    margin: 10px 0;
    border: 2px solid rgb(73, 71, 71);
    box-sizing: border-box;
}

input[type=reset], input[type=submit] {
    width: 35%;
    padding: 9px;
    margin: 10px 0;
    border: 2px solid rgb(73, 71, 71);
    box-sizing: border-box;
}

/* PROFILE PAGE */

.personal-info {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(232, 232, 212);
    border-radius: 2px;
}

#edit {
    margin-top: 5px;
    margin-right: 0%;
    border: 1.88px solid rgb(129, 129, 129);
    background-color: white;
    box-shadow: 0 0px 25px rgba(119, 119, 120, 0.673);
    color: black;
    border-radius: 25px;
    padding: 5px;
    width: 120px;
}

#edit:hover {
    background-color: #0073b1;
    color: white;
}
#edit:active {
    background-color: #292b2d;
}

#freeze {
    border-radius: 25px;
    background-color: #0073b1;
    max-width: 120px;
    padding: 5px;
    margin-right: 0%;
    margin-top: -4.7%;
    margin-bottom: 25%;
}
#freeze:active {
    background-color: #292b2d;
}

/* SOCIAL.PHP */

.social-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: url("/19141230/img/white_2.jpg");
    border-radius: 8px;
}

.post-form textarea {
    width: 94%;
    height: 100px;
    padding: 10px;
    border: 10px solid rgba(140, 138, 124, 0.748);
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.post-form button {
    cursor: pointer;
}

.posts {
    margin-top: 20px;
}

.post {
    padding: 10px;
    border-bottom: 10px;
    margin-bottom: 10px;
}

.post p {
    margin: 0;
    word-break: keep-all;
}

.post span {
    font-size: 1em;
    color: #999;
}

/*EXERCISE PROGRESS BAR */

.progress-tracker {
    margin: 0px 0px 10px 0px;
    background-color: rgba(128, 128, 128, 0.076);
    box-shadow: 0 4px 20px rgba(0, 128, 0, 0.581);
    
}
.progress-tracker, #progress-bar {
    height: 24px;
    border-radius: 20px;
}

#progress-bar {
    width: 5%;
    color: white;
    text-indent: 20%;
    background-color: rgb(18, 143, 18);
    border: 0.5px solid black;
    text-align: left;
}

/* INDEX.PHP LINKS USERS TO EXERCISES */

.exercise-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding: 15px;
    max-width: 10000px;
    margin: 0 auto;
    position: center;
    max-width: 900px;
}

.exercise-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    max-width: 300px;
    background: url("/19141230/img/sand.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 8px 23px grey;
}

.exercise-box a {
    color: rgb(41, 40, 40);
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: -4px 20px 5px rgba(130, 89, 36, 0.401);
    text-align:center;
}

.exercise-box:nth-child(1):hover{
    background: rgba(0, 128, 0, 0.488);
}
.exercise-box:nth-child(2):hover{
    background: rgba(239, 123, 0, 0.588);
}
.exercise-box:nth-child(3):hover{
    background: rgba(172, 11, 0, 0.617);
}
.exercise-box:nth-child(4):hover, .exercise-box:nth-child(5):hover, .exercise-box:nth-child(6):hover{
    background: rgb(198, 188, 127);
}

.exercise-box:active, .exercise-box a:active {
    text-shadow: 0 5px 5px white;
}

/* CHALLENGE_1.PHP */

.exercise-container {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 0;
}

.exercise-container #submit {
    margin-top: 20px;
}

.steps-container, .greetings-container {
    box-shadow: 0 0px 20px black;
}

#english-list li, #task-steps li {
    background-color: white;
    border: 2px solid rgb(58, 57, 57);
}

.draggable, #english-list li {
    width: 170px;
    height: 25px;
    border: 2px solid rgb(58, 57, 57);
}

.draggable:hover, #spanish-numbers .list_item:hover {
    border-radius: 25px;
    cursor: grab;
}

#list-drop .droppable {
    width: 170px;
    height: 25px;
}

#task-drop li, #list-drop .droppable {
    border: 2px dashed rgb(58, 57, 57);
    background-color: rgba(240, 231, 212, 0.651);
}

.draggable:nth-child(1){
    background-color: orange;
}
.draggable:nth-child(2){
    background-color: rgb(123, 200, 255);
}
.draggable:nth-child(3){
    background-color: rgb(178, 253, 143);
}
.draggable:nth-child(4){
    background-color: yellow;
}

#task-steps li {
    height: 25px;
    width: 300x;
}

#task-drop li {
    height: 25px;
    width: 80px;
}

#spanish-numbers .list_item {
    height: 25px;
    width: 70px;
}

#spanish-list li:hover, #spanish-numbers .list_item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#spanish-list li:active, #spanish-numbers .list_item:active {
    cursor: grabbing;
}

#submit {
    width: 200px;
    padding: 12px;
    background-color: rgb(62, 61, 68);
    color: white;
    border: 1.88px solid rgb(159, 152, 152);
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    text-transform: uppercase;
}

#submit:hover {
    background-color: rgb(22, 83, 36);
}

#feedback-1, #feedback-2 {
    margin-top: auto;
    font-size: 1em;
}

/* CHALLENGE_2.PHP*/

.steps-container, .greetings-container {
    background: url("/19141230/img/sand.jpg");
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

#list ul {
    list-style-type: none;
    padding: 0;
    border-radius: 25px;
}

#list ul, #list li{
    padding: 5px;
    margin: 10px 10px 10px;
    display: block;
}

#spanish-numbers li {
    border: 2px solid rgb(58, 57, 57);
}

#spanish-numbers .list_item {
    background-color: rgba(255, 206, 9, 0.775);
}

#spanish-numbers .list_item.dragging {
    opacity: 0.5;
}

/* ABOUT US PAGE */

.about-container {
    margin: 50px auto;
    width: 90%;
    max-width: 900px;
    padding: 15px;
    top: 10vh;
    border-radius: 5px;
    border: 5px solid rgba(128, 128, 128, 0.668);
    background: url("/19141230/img/sand.jpg");
    background-repeat: no-repeat;
}

.about-container p {
    line-height: 1.8;
}

/* FLASHCARD.PHP */

.flashcard-wrapper {
    height:150px;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.134);
}

.flashcard-body {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 35px rgba(22, 8, 8, 0.127), 0 5px 15px rgba(29, 17, 17, 0.12);
}

.flashcard-wrapper {
    font-size: 16px;
    box-shadow: 0 15px 35px rgba(22, 8, 8, 0.194), 0 5px 15px rgba(29, 17, 17, 0.169);
}

.flashcard-wrapper:hover .flashcard-body {
    transform: rotateX(180deg);
}

.flashcard-front, .flashcard-back {
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flashcard-front p, .flashcard-back p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    margin: 0;
    line-height: 1.3;
    text-overflow: ellipsis;
}

.flashcard-front {
    background: url("/19141230/img/card.jpg");
}

.flashcard-back {
    transform: rotateX(180deg);
    background-color: rgb(171, 171, 151);
}

/* PROGRESS.PHP */

.progress-container, .flashcard-wrapper {
    width: 88%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

/* PROGRESS RECORD INPUT */

.record {
    width: 45%;
    height: 200px;
    float: left;
}

.record-results {
    margin-left: 50%;
    height: 200px;
}

.record textarea {
    width:100%;
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(232, 232, 212);
    border: 1.88px solid rgba(128, 128, 128, 0.748);
    border-style: outset;
    border-radius: 30px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

/* PROGRESS RECORDS TABLE */

.record-results tr {
    display: table-row;
}

.record-results td {
    padding: 5px;
    text-align:left;
    vertical-align: top;
}

table {
    color: rgb(45, 28, 28);
    background: rgb(232, 232, 212);
    border-radius: 5px;
}

/* LOCK.PHP */

.lock-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: url("/19141230/img/white_2.jpg");
    border-radius: 2px;
    box-shadow: 3px 5px 0px black;
}

.lock-container h1, .lock-container h2, .lock-container h3{
    text-indent: 20px;
}

.lock-container input {
    border: 7px solid rgba(128, 128, 128, 0.748);
    border-radius: 5px;
}

.slideshow {
    margin-left: 50%;
    margin-top:-20%;
}

.slides {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px black, 10px 10px grey, 15px 15px rgb(198, 188, 127);
}

#lock {
    margin-left: 5%;
    margin-top:0%;
    
}

#lock button {
    margin-left: 0%;
    padding: 5px;
    width: 27.5%;
    font-size: 0.8em;
}

#lock button:hover {
    color:black;
    background:rgb(198, 188, 127);
}

#lock button:active {
    color:black;
    background:rgb(227, 226, 215);
}

.record p {
    padding-left: 20px;
    word-break: keep-all;
}